/* poppins-latin-200-normal */
@font-face {
  font-family: 'Poppins Tiny';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-200-normal.woff2)
      format('woff2'),
    url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-200-normal.woff)
      format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-400-normal */
@font-face {
  font-family: 'Poppins Normal';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-400-normal.woff2)
      format('woff2'),
    url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-400-normal.woff)
      format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* poppins-latin-600-normal */
@font-face {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-600-normal.woff2)
      format('woff2'),
    url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-600-normal.woff)
      format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  max-width: 100vw;
  min-height: 100dvh;
  background-color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
}

main {
  font-family: 'Poppins Normal';
  padding: 1rem 2rem;
  font-size: clamp(1rem, 1px + 1rem, 2rem);
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}
section.title {
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 2rem 0;
  font-weight: 100;
}
section.title h2 {
  font-family: 'Poppins Tiny';
}
section.title h2.boldTitle {
  font-family: 'Poppins Bold';
  font-size: clamp(1.7rem, 1px + 1rem, 2rem);
}
section.title p {
  color: hsl(229, 6%, 66%);
  font-size: 1rem;
  padding: 1rem 0;
}
.container article {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  height: 180px;
  position: relative;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 4px 6px hsl(229, 6%, 66%);
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 1fr;
}
.container article img {
  justify-self: end;
}
.container article p {
  font-size: 0.7rem;
  color: hsl(229, 6%, 66%);
}
.container article img {
  align-self: end;
}
.container article div {
  background-color: red;
  position: absolute;
  width: 100%;
  height: 0.3rem;
  color: transparent;
}
.container article div.red {
  background-color: hsl(0, 78%, 62%);
}
.container article div.blue {
  background-color: hsl(212, 86%, 64%);
}
.container article div.orange {
  background-color: hsl(34, 97%, 64%);
}
.container article div.cyan {
  background-color: hsl(180, 62%, 55%);
}

@media (700px < width < 1000px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 620px;
  }
  .container article:nth-child(1) {
    grid-column: span 2;
  }
  .container article:nth-child(4) {
    grid-column: span 2;
  }
  section.title p {
    font-size: small;
    padding: 1rem 0;
  }
}
@media (width > 1000px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 1000px;
  }
  .container article:nth-child(1) {
    grid-row: span 2;
    align-self: center;
  }
  .container article:nth-child(3) {
    grid-row: span 2;
    align-self: center;
  }
}
